<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" href="../res/images/ico/logo_16x16.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="../res/images/ico/logo_16x16.ico" type="image/x-icon"/>
        <title>Javascript Date对象-详解-get</title>
        <link rel="stylesheet" href="../css/lib/bootstrap.min.css">
        <style>
            /*pjax 动画*/
            .loading{display:none;}
            .loading{height:100%;width:100%;position:fixed;top:0;left:0;z-index:999999;background-color:rgba(255,255,255,.9)}
            .loading img{
                width: 32px;height:32px;position: relative;left: 50%;top: 50%;
                transform:translate(-50%, -100%);
                -ms-transform:translate(-50%, -100%);/* IE 9 */
                -moz-transform:translate(-50%, -100%);/* Firefox */
                -webkit-transform:translate(-50%, -100%);/* Safari 和 Chrome */
                -o-transform:translate(-50%, -100%);/* Opera */
            }
            #loader{display: block; position: relative; left: 50%; top: 50%; width: 150px; height: 150px; margin: -75px 0 0 -75px; border-radius: 50%; border: 3px solid transparent; border-top-color: #ff5a5a; -webkit-animation: spin 1s linear infinite; animation: spin 1s linear infinite;}
            #loader:before{content: ""; position: absolute; top: 5px; left: 5px; right: 5px; bottom: 5px; border-radius: 50%; border: 3px solid transparent; border-top-color: #5af33f; -webkit-animation: spin 3s linear infinite; animation: spin 3s linear infinite;}
            #loader:after{content: ""; position: absolute; top: 15px; left: 15px; right: 15px; bottom: 15px; border-radius: 50%; border: 3px solid transparent; border-top-color: #6dc9ff; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite;}
            @-webkit-keyframes spin{0%{-webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);} 100%{-webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg);}}
            @keyframes spin{0%{-webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg);} 100%{-webkit-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg);}}
        </style>
    </head>
    <body>

        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <strong>
                        <a href="../../../index.html" class="navbar-brand">HOME</a>
                    </strong>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group" data-spy="affix" style="width:250px;">
                        <a data-pjax href="./index.html" class="list-group-item active">get</a>
                        <a data-pjax href="./javascript.html" class="list-group-item">javascript</a>
                        <a data-pjax href="./practice.html" class="list-group-item">日期对象实战</a>

                    </div>
                </div>
                <div class="col-md-9">
                    <div id="pjax-container" style="margin-bottom: 20px;">
                        <div id="content">

                            <div id="date" class="panel panel-default">
                                <div class="panel-heading">
                                    get
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <blockquote>
                                            <p>本地时间</p>
                                        </blockquote>
                                        <ul class="list-group">
                                            <li class="list-group-item">new Date()<span class="pull-right" v-text="nowDate"></span></li><!--为了触发，这里必须有一个调用 此变量-->
                                            <li class="list-group-item">new Date().getFullYear()<span class="pull-right" v-text="new Date().getFullYear() + '年'"></span></li>
                                            <li class="list-group-item">new Date().getYear()：已淘汰<span class="pull-right" v-text="new Date().getYear() + '年'"></span></li>
                                            <li class="list-group-item">new Date().getMonth() + 1<span class="pull-right" v-text="new Date().getMonth() + 1 + '月'"></span></li>
                                            <li class="list-group-item">new Date().getDate()<span class="pull-right" v-text="new Date().getDate() + '日'"></span></li>
                                            <li class="list-group-item">new Date().getDay()<span class="pull-right" v-text="new Date().getDay() + '星期'"></span></li>
                                            <li class="list-group-item">new Date().getHours()<span class="pull-right" v-text="new Date().getHours() + '时'"></span></li>
                                            <li class="list-group-item">new Date().getMinutes()<span class="pull-right" v-text="new Date().getMinutes() + '分'"></span></li>
                                            <li class="list-group-item">new Date().getSeconds()<span class="pull-right" v-text="new Date().getSeconds() + '秒'"></span></li>
                                            <li class="list-group-item">new Date().getMilliseconds()<span class="pull-right" v-text="new Date().getMilliseconds() + '毫秒'"></span></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <blockquote>
                                            <p>UTC</p>
                                        </blockquote>
                                        <ul class="list-group">
                                            <li class="list-group-item">new Date()<span class="pull-right" v-text="new Date()"></span></li>
                                            <li class="list-group-item">new Date().getUTCFullYear()<span class="pull-right" v-text="new Date().getUTCFullYear() + '年'"></span></li>
                                            <li class="list-group-item">...<span class="pull-right"></span></li>
                                            <li class="list-group-item">new Date().getUTCMonth() + 1<span class="pull-right" v-text="new Date().getUTCMonth() + 1 + '月'"></span></li>
                                            <li class="list-group-item">new Date().getUTCDate()<span class="pull-right" v-text="new Date().getUTCDate() + '日'"></span></li>
                                            <li class="list-group-item">new Date().getUTCDay()<span class="pull-right" v-text="new Date().getUTCDay() + '星期'"></span></li>
                                            <li class="list-group-item">new Date().getUTCHours() <b class="text-danger">UTC时间主要区别</b><span class="pull-right" v-text="new Date().getUTCHours() + '时'"></span></li>
                                            <li class="list-group-item">new Date().getUTCMinutes()<span class="pull-right" v-text="new Date().getUTCMinutes() + '分'"></span></li>
                                            <li class="list-group-item">new Date().getSeconds()<span class="pull-right" v-text="new Date().getUTCSeconds() + '秒'"></span></li>
                                            <li class="list-group-item">new Date().getUTCMilliseconds()<span class="pull-right" v-text="new Date().getUTCMilliseconds() + '毫秒'"></span></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <ul class="list-unstyled">
                                            <li>1.UTC:(Coordinated Universal Time 协调世界时)由于英文（CUT）和法文（TUC）的缩写不同，作为妥协，简称UTC</li>
                                            <li>2.中国大陆、中国香港、中国澳门、中国台湾、蒙古国、新加坡、马来西亚、菲律宾、西澳大利亚州的时间与UTC的时差均为+8，也就是UTC+8。</li>
                                            <li>3.北京时间=UTC+8=GMT+8</li>
                                        </ul>

                                        <ul class="list-unstyled">
                                            <li>1.G.M.T.(Greenwich Mean Time)格林尼治时间</li>
                                            <li>2.北京时间=GMT时间+8小时。GMT指的是格林威治中央区时，北京位于东八区，也就是北京的地方时比中央时区的地方时早8小时。</li>
                                            <li>3.北京时间=UTC+8=GMT+8</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="loading">
            <img src="../res/images/loading/20150210104951492.gif" alt="">
        </div>

        <script src="../js/lib/jquery.min.js"></script>
        <script src="../js/lib/bootstrap.min.js"></script>
        <script src="../js/lib/jquery.pjax.min.js"></script>
        <script src="../js/lib/vue.min.js"></script>
        <script src="../js/dist/getDate.js"></script>
        <script>

            if ($.support.pjax) {
                // 配置全局
                $.pjax.defaults.fragment = '#content';
                //
                $(document).on('click', 'a[data-pjax]', function (event) {
                    $(this).addClass('active').siblings('a').removeClass('active');
                    $.pjax.click(event, {
                        container : "#pjax-container",
                    })
                }).on('pjax:send', function() {
                    $(".loading").fadeIn(400);
                }).on('pjax:complete', function() {
                    $(".loading").fadeOut(400);
                }).on('ready pjax:end', function(event) {
                    //$(event.target).initializeMyPlugin()
                })

            }

            // if (true) {
            //     // 全局方式
            //     $.pjax.defaults.type = 'POST';
            //     $.pjax.defaults.fragment = '#container';
            //     $(document).pjax('a[data-pjax]', '#pjax-container');
            // } else {
            //     // 局部方式
            //     $(document).pjax('a[data-pjax]', '#pjax-container', {
            //         //timeout : 650,// 超过这个时间，页面就强制刷新
            //         //type : 'POST',// 默认值'GET'
            //         //fragment : '#container',// 防止刷新后，进入页面，意思为，提取目标页面的某一个#id 内部的部分
            //     });
            // }


        </script>
    </body>
</html>



































