<!DOCTYPE html>
<!--[if lt IE 9]><script>window.location.href="error/error.html"</script><![endif]-->
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="keywords" content="我的博客">
		<meta name="description" content="我的博客">
		<link rel="shortcut icon" href="../res/images/logo/logo_16x16.png" type="image/x-icon">
		<link rel="icon" href="../res/images/logo/logo_16x16.png" type="image/x-icon">
		<title>WEB客栈-阅读</title>
		<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/lib/bootstrap-theme.min.css"/>
	</head>
	<body>
		<!--nav S-->
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<strong>
						<a href="../index.html" class="navbar-brand"><img src="../images/nav_logo.png" class="img-responsive"/></a>
					</strong>
				</div>
			</div>
		</nav>
		<!--nav E-->

		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<pre class="well-lg">123</pre>
						</div>
					</div>
				</div>
			</div>
		</div>


		<script src="../js/lib/jquery.min.js"></script>
		<script src="../js/lib/bootstrap.min.js"></script>
		<script>

			console.log(1);

		</script>
	</body>
</html>