<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" href="../res/images/ico/logo_16x16.ico" type="image/x-icon" />
        <link rel="shortcut icon" href="../res/images/ico/logo_16x16.ico" type="image/x-icon"/>
        <title>pjax 学习</title>
        <link rel="stylesheet" href="../css/lib/bootstrap.min.css">
    </head>
    <body>

        <div class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <strong>
                        <a href="../../../index.html" class="navbar-brand">HOME</a>
                    </strong>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="list-group" data-spy="affix" style="width:250px;">
                        <a data-pjax href="./index.html" class="list-group-item active">首页</a>
                        <a data-pjax href="./javascript.html" class="list-group-item">javascript</a>
                        <a data-pjax href="./php.html" class="list-group-item">php</a>
                        <a data-pjax href="./linux.html" class="list-group-item">linux</a>
                    </div>
                </div>
                <div class="col-md-9">
                    <div id="pjax-container" style="margin-bottom: 20px;">
                        <div id="content">
                            <img src="../res/images/node.jpg" alt="pic" width="100%">
                            <img src="../res/images/node.jpg" alt="pic" width="100%">
                            <img src="../res/images/node.jpg" alt="pic" width="100%">
                            <img src="../res/images/node.jpg" alt="pic" width="100%">
                            <img src="../res/images/node.jpg" alt="pic" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="footer" style="background:#ccc;">
            <div class="container">
                <p class="pager">615940742@qq.com</p>
            </div>
        </div>

        <script src="../js/lib/jquery.min.js"></script>
        <script src="../js/lib/bootstrap.min.js"></script>
        <script src="../js/lib/jquery.pjax.min.js"></script>
        <script>

            if ($.support.pjax) {
                $.pjax.defaults.fragment = '#content';
                $(document).on('click', 'a[data-pjax]', function (event) {
                    $(this).addClass('active').siblings('a').removeClass('active');
                    $.pjax.click(event, {
                        container : "#pjax-container",
                    })
                })
            }

            // if (true) {
            //     // 全局方式
            //     $.pjax.defaults.type = 'POST';
            //     $.pjax.defaults.fragment = '#container';
            //     $(document).pjax('a[data-pjax]', '#pjax-container');
            // } else {
            //     // 局部方式
            //     $(document).pjax('a[data-pjax]', '#pjax-container', {
            //         //timeout : 650,// 超过这个时间，页面就强制刷新
            //         //type : 'POST',// 默认值'GET'
            //         //fragment : '#container',// 防止刷新后，进入页面，意思为，提取目标页面的某一个#id 内部的部分
            //     });
            // }

        </script>
    </body>
</html>



































